
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn{
        @apply bg-[#f8f9fa] p-3 rounded-md ring-gray-200 text-sm text-gray-800 
        hover:ring-1 focus:outline-none active:ring-gray-300 hover:shadow-md;
    }
    
    .link {
        @apply hover:underline cursor-pointer;
    }
}

.opa{
    background: black;
}
input{
    background-color: transparent;
}
input::placeholder{
    color: grey;
}
small{
    color: black;
}
.bgg{
    background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;

}
